#menu {
	width: 40px;
	/*height: 120px;*/
	position: fixed;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
	display: none;
}
#menu .active {
	background: green;
}
#menu li {
	width: 40px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	/*float: right;*/
	background: #444;
	border-bottom: 1px solid #8E8E8E;
	cursor: pointer;color: white;
	font-size: 12px;
}
#menu .a:hover{
	background: green;
}
#banner{
	height: 400px;background: darkcyan;
	background-image: url(../img/banner.jpg); 
	background-size:cover;
}
#banner .bannerl{
	width: 210px;z-index: 999;float: left;height: 400px;position: relative;
}
#banner .bannerl ul li{
	color: #444;font-size: 14PX;height: 49px;line-height: 45px;border-bottom:1px solid white;
	opacity: 0.87;background: white;
}
#banner .bannerl ul li:hover{
	cursor: pointer;opacity: 1;
}
#banner .bannerl ul li img{
    width: 20px;height: 20px; margin: 0 30px;
}
#banner .bannerr{
	width:210px ;z-index: 10000;float: right;height: 400px;color: #444;
}
#banner .bannerr div{
	width: 190px;height: 190px;background: white;margin: 7px 0;font-size: 14px;
}
#banner .bannerr .bannerr1 p{
	margin-top: 10px;
}
#banner .bannerl .con{
	width: 990px;
	height: 398px;
	background: white;
	border: 1px solid #ccc;box-shadow:  0px 2px  2px #ccc;
	position: absolute;
	left: 210px;font-weight: bold;
	z-index: 999;
	top: 0;
	display: none;
}

#banner .bannerl .con ul li{
	float: left;
}
#banner .bannerr .bannerr1 .bannerr1t{
	font-weight: bolder; height: 30px;width:175px;
	margin-left: 15px;line-height: 35px;
}
#banner .bannerr .bannerr1 .bannerr1m{
	width: 160px;height: 75px;
	border-top: 1px solid #ccc;font-size: 12px;margin-left: 15px;
}
#banner .bannerr .bannerr1 .bannerr1m p:hover{
	color: green;cursor: pointer;
}
#banner .bannerr .bannerr1 .bannerr1b li:hover{
	color: green;cursor: pointer;
}
#banner .bannerr .bannerr1 .bannerr1b{
	height: 65px;margin-top: 15px;
}
#banner .bannerr .bannerr1 .bannerr1b ul{
	display: flex;height: 65px;
}
#banner .bannerr .bannerr1 .bannerr1b ul li{
	flex: 1;border-top:1px solid#ccc ;
	border-right:1px solid#ccc ;font-size: 12px;
	text-align: center;padding-top: 15px;
}
#banner .bannerr .bannerr2 img{
	width: 190px;height: 190px;cursor: pointer;
}

#main{
	height: 3150px;background: #EEEEEE;
}
#main #lunbo{
	width: 1200px;
	height: 380px;
	margin: 0px auto;
	background: white
	position: relative;
	overflow: hidden;
}
#main #lunbo #imglist {
	width: 1200px;
	height:380px;
	position: relative;
}

#main #lunbo #imglist ul {
	width: 2400px;
	height: 380px;
	position: absolute;
	/*left: 0;
	top: 0;*/
}

#main #lunbo #imglist li {
	width: 225px;
	height: 380px;
	float: left;margin:0 7px ;
	color: red;background: white;
	font-size: 20px;
	text-align: center;cursor: pointer;
}
#main #lunbo #imglist li:hover{
	box-shadow: 0 2px 4px #ccc;
}
#main #lunbo #imglist li p{
	color: #8E8E8E;font-size: 12px;
}
#main #lunbo #imglist li img{
	margin: 20px 0; width: 120px;height: 150px;
}
/*左右按钮*/

#posibtn {
	width: 1200px;
	height: 30px;
	/*background: #ccc;*/
	position: absolute;
	/*left: 0;*/
	top:840px;
	margin-top: -25px;
}

#posibtn p {
	width: 30px;
	height: 30px;
	background: #ccc;
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}

#posibtn p:nth-child(1) {
	float: left;
	margin-left: 10px;
}

#posibtn p:nth-child(2) {
	float: right;
	margin-right: 10px;
}
#main .mains .mains1{
	width: 1200px;height: 670px;
}
#main .mains .mains2{
	width: 1200px;height: 670px;
}
#main .mains .mains3{
	width: 1200px;height: 670px;
}
#main .mains .mains4{
	width: 1200px;height: 670px;
}
#main .mains .mainsl{
	float: left;width: 230px;height:670px ;
}
#main .mains ul{
	float: right;width: 960px;height:670px ;
}
#main .mains .mainslt img{
	height: 420px;width: 230px;
}
#main .mains .mainslb img{
	height:130px; margin-top: 20px;width: 230px;
}
#main .mains ul li {
	width: 225px;
	height: 277px;
	float: left;margin-bottom: 15px ;margin-right: 15px;
	color: red;background: white;
	font-size: 20px;
	text-align: center;cursor: pointer;	
}
#main .mains ul li:hover{
	box-shadow: 0 2px 4px #ccc;
}
#main .mains ul li p{
	color: #8E8E8E;font-size: 12px;
}
#main .mains ul li img{
	margin: 20px 0; width: 130px;height: 130px;
}